<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dream data enrichment</title>
</head>
<body>
<form action="/forms/enrichment/dreams/{{ dream_night.date_str }}/" method="post">
    {% for dream_idx in range(dream_night.dreams|length) %}
        <h2>Dream {{ dream_idx }}</h2>
        {{ dream_night.dreams[dream_idx].text }}
        <hr/>
        {% if 'disorientation' not in entry['data']['dreams'][dream_idx] %}
            <b>Disorientation rating:</b>
            <label>1 <input type="radio" name="disorientation-{{ dream_idx }}" value="1" checked="checked"/></label>
            <label>2 <input type="radio" name="disorientation-{{ dream_idx }}" value="2"/></label>
            <label>3 <input type="radio" name="disorientation-{{ dream_idx }}" value="3"/></label>
            <label>4 <input type="radio" name="disorientation-{{ dream_idx }}" value="4"/></label>
            <label>5 <input type="radio" name="disorientation-{{ dream_idx }}" value="5"/></label>
            <br/>
        {% endif %}
        {% if 'lewdness' not in entry['data']['dreams'][dream_idx] %}
            <b>Lewdness rating:</b>
            <label>1 <input type="radio" name="lewdness-{{ dream_idx }}" value="1" checked="checked"/></label>
            <label>2 <input type="radio" name="lewdness-{{ dream_idx }}" value="2"/></label>
            <label>3 <input type="radio" name="lewdness-{{ dream_idx }}" value="3"/></label>
            <label>4 <input type="radio" name="lewdness-{{ dream_idx }}" value="4"/></label>
            <label>5 <input type="radio" name="lewdness-{{ dream_idx }}" value="5"/></label>
            <br/>
        {% endif %}
        {% if "false_facts" not in entry["data"]["dreams"][dream_idx] %}
            <label>
                <b>False facts</b> (about the world, not about my actions and situation):
                <input type="text" name="false_facts-{{ dream_idx }}" size="150"/> (Separate them with | vertical bar)
            </label>
            <br/><br/>
        {% endif %}
        {% if "famous_people" not in entry["data"]["dreams"][dream_idx] %}
            <label>
                <b>Famous people:</b><br/>
                Previous famous people: {{ famous_people|join(", ") }}<br/>
                <input type="text" name="famous_people-{{ dream_idx }}" size="150"/> (Separate them with | vertical bar)
            </label>
            <br/><br/>
        {% endif %}
        {% if "known_people" not in entry["data"]["dreams"][dream_idx] %}
            <label>
                <b>Known people:</b><br/>
                Previous known people: {{ known_people|join(", ") }}<br/>
                <input type="text" name="known_people-{{ dream_idx }}" size="150"/> (Separate them with | vertical bar)
            </label>
            <br/><br/>
        {% endif %}
        {% if "tags" not in entry["data"]["dreams"][dream_idx] %}
            <label>
                <b>Tags:</b><br/>
                Previous tags: {{ tags|join(", ") }}<br/>
                <input type="text" name="tags-{{ dream_idx }}" size="150"/> (Separate them with | vertical bar)
            </label>
            <br/>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Update"/>
</form>
</body>
</html>