<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chores board</title>
    <link rel="stylesheet" type="text/css" href="/static/base_style.css" />
</head>
<body>
<h1>Chores board {{ today }}</h1>
<table>
    <tr>
    {% for column in layout['columns'] %}
        <td style="vertical-align: top">
        {% for category in column['categories'] %}
            <h2>{{ category.capitalize() }}</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Last done</th>
                    <th>Next date</th>
                    <th>?</th>
                </tr>
                {% for chore in categorised_chores[category] %}
                    <tr>
                    <td>{{ chore.display_name }}</td>
                    <td style="background-color: {{ chore.get_latest_date_colour(colour_scale) }}">
                        {{ chore.latest_done or "-" }}
                    </td>
                    <td style="background-color: {{ chore.get_next_date_colour(colour_scale) }}">
                        {{ chore.get_next_date() or "" }}
                    </td>
                    <td onclick='mark_chore_done("{{ chore.id }}")'>
                        <input type="checkbox" {{ "checked" if chore.latest_done == today else "" }} />
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        </td>
    {% endfor %}
    </tr>
</table>
<label>Edit auth key: <input type="password" id="edit-key" /></label>
<script type="application/javascript">
function mark_chore_done(chore) {
    const today = "{{ today }}";
    const authKey = document.getElementById("edit-key").value;
    setAuthCookie(authKey);

    const form = document.createElement('form');
    form.method = "POST";
    form.action = "/forms/chores_done/"+today+"/";
    const hiddenField1 = document.createElement('input');
    hiddenField1.type = 'hidden';
    hiddenField1.name = "auth_key";
    hiddenField1.value = authKey;
    form.appendChild(hiddenField1);
    const hiddenField2 = document.createElement('input');
    hiddenField2.type = 'hidden';
    hiddenField2.name = "chore";
    hiddenField2.value = chore;
    form.appendChild(hiddenField2);
    document.body.appendChild(form);
    form.submit();
}

function getAuthCookie() {
    const v = document.cookie.match('(^|;) ?edit_auth_key=([^;]*)(;|$)');
    return v ? v[2] : null;
}

function setAuthCookie(value) {
    const d = new Date;
    d.setTime(d.getTime() + 24*60*60*1000*100);
    document.cookie = "edit_auth_key=" + value + ";path=/;expires=" + d.toGMTString();
}

(function() {
    document.getElementById("edit-key").value = getAuthCookie();
})();
</script>
</body>
</html>
