<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FA notifications</title>
    <link rel="stylesheet" type="text/css" href="/static/base_style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartTotalNotifs);
        google.charts.setOnLoadCallback(drawChartDiffs);
        function drawChartTotalNotifs() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Date", "Total", "Submissions", "Comments", "Journals", "Watches", "Notes"],
                    {% for fa_data in fa_notifications.values() %}
                        {% set fa_notif = fa_data['data'] %}
                        [new Date('{{ fa_notif.date.date().isoformat() }}'),
                        {{ fa_notif.total if fa_notif.submissions == None else "0" }},
                        {{ fa_notif.submissions or "0" }},
                        {{ fa_notif.comments or "0" }},
                        {{ fa_notif.journals or "0" }},
                        {{ fa_notif.watches or "0" }},
                        {{ fa_notif.notes or "0" }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "FA Notifications by day",
                height: 400,
                isStacked: true
            };
            // Draw chart
            const chart = new google.visualization.ColumnChart(document.getElementById('chart_total_notifs'));
            chart.draw(data, options);
        }
        function drawChartDiffs() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Date", "New notifications"],
                    {% for fa_data in fa_notifications.values() %}
                        [new Date('{{ fa_data['data'].date.date().isoformat() }}'),
                        {{ fa_data['diff'] or "0" }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "New notifications per day",
                height: 400,
                isStacked: true
            };
            // Draw chart
            const chart = new google.visualization.ColumnChart(document.getElementById('chart_diffs'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>FA notifications</h1>
<h2>Graphs</h2>
<div id="chart_total_notifs"></div>
<div id="chart_diffs"></div>
<h2>Table</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Total</th>
        <th><abbr title="Submissions">S</abbr></th>
        <th><abbr title="Comments">C</abbr></th>
        <th><abbr title="Journals">J</abbr></th>
        <th><abbr title="Favourites">F</abbr></th>
        <th><abbr title="Watches">W</abbr></th>
        <th><abbr title="Notes">N</abbr></th>
        <th class="calculated">Diff</th>
    </tr>
    {% for fa_date in fa_notifications.keys() %}
        {% set fa_notif = fa_notifications[fa_date]['data'] %}
        <tr>
        <td>{{ fa_notif.date.date().isoformat() }}</td>
        <td style="background-color: {{ scale.get_colour_for_value(fa_notif.total) }}">{{ fa_notif.total }}</td>
        <td>{{ fa_notif.submissions or "" }}</td>
        <td>{{ fa_notif.comments or "" }}</td>
        <td>{{ fa_notif.journals or "" }}</td>
        <td>{{ fa_notif.favourites or "" }}</td>
        <td>{{ fa_notif.watches or "" }}</td>
        <td>{{ fa_notif.notes or "" }}</td>
        <td>{{ fa_notifications[fa_date]['diff'] or "" }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>