<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mood measurements</title>
    <link rel="stylesheet" type="text/css" href="/static/base_style.css" />
</head>
<body>
<h1>Mood measurements</h1>
<h2>Stats</h2>
Total measurements: {{ mood_measurements|count }}
<h2>Table</h2>
<table>
    <tr>
        <th>Datetime</th>
        {% for mood in mood_static['moods'] %}
            <th>{{ mood.title() }}</th>
        {% endfor %}
    </tr>
{% for mood_measurement in mood_measurements %}
    <tr>
    <td>{{ mood_measurement.datetime.isoformat() }}</td>
        {% for mood in mood_static['moods'] %}
            <td style="background-color: {{ scale.get_colour_for_value(mood_measurement.mood.get(mood)) }}">
                {{ mood_measurement.mood.get(mood, "") }}
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</body>
</html>