<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sleep time</title>
    <link rel="stylesheet" type="text/css" href="/static/base_style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChartHoursSlept);
        google.charts.setOnLoadCallback(drawChartSleepTime);
        google.charts.setOnLoadCallback(drawChartWakeTime);
        function drawChartHoursSlept() {
            // Create data
            const data = new google.visualization.DataTable();
            data.addColumn('number', 'Hours slept');
            data.addRows([{% for sleep in sleeps %}[{{ sleep.time_sleeping.total_seconds()/3600 }}],{% endfor %}]);
            // Set up options
            const options = {
                'title':'Hours slept per night',
                'height':300
            };
            // Draw chart
            const chart = new google.visualization.Histogram(document.getElementById('chart_hours_slept'));
            chart.draw(data, options);
        }
        function drawChartSleepTime() {
                const data = new google.visualization.DataTable();
                data.addColumn('number', 'Sleep time');
                data.addRows([{% for sleep in sleeps %}[{{ sleep.sleep_time.hour }}],{% endfor %}]);
                const options = {
                    'title':'Time going to sleep',
                    'histogram': {
                        'bucketSize': 1,
                        'minValue': 0,
                        'maxValue': 23},
                    'height':300
                };
                // Draw chart
                const chart = new google.visualization.Histogram(document.getElementById('chart_sleep_time'));
                chart.draw(data, options);
        }
        function drawChartWakeTime() {
            const data = new google.visualization.DataTable();
            data.addColumn('number', 'Wake time');
            data.addRows([{% for sleep in sleeps %}[{{sleep.wake_time.hour}}],{% endfor %}]);
            const options = {
                'title':'Time waking up',
                'histogram': {
                    'bucketSize': 1,
                    'minValue': 0,
                    'maxValue': 23},
                'height':300
            };
            // Draw chart
            const chart = new google.visualization.Histogram(document.getElementById('chart_wake_time'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>Sleep statistics</h1>
<h2>Overall stats</h2>
Sleep data entries: {{ sleeps|length }}<br />
Minimum: {{ stats['min'] }}<br />
Maximum: {{ stats['max'] }}<br />
Average: {{ stats['avg'] }}<br />
St dev: {{ stats['stdev']|round(3) }} days<br />
Total: {{ stats['total']|round(2) }} days<br />
<h2>Weekly stats</h2>
Night leading into:
<table>
    <tr>
        <th>Day</th>
        <th>Average sleep</th>
    </tr>
    {% for day in weekly_stats.values() %}
    <tr>
        <th>{{ day['name'] }}</th>
        <td style="background-color: {{ weekly_scale.get_colour_for_value(day['avg']) }}">
            {{ day['avg'] }}
        </td>
    </tr>
    {% endfor %}
</table>
<h2>Graphs</h2>
<div id="chart_hours_slept"></div>
<div id="chart_sleep_time"></div>
<div id="chart_wake_time"></div>
<h2>Total sleep records</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Sleep time</th>
        <th>Wake time</th>
        <th class="calculated">Time asleep</th>
        <th>Interruptions</th>
    </tr>
    {% for sleep in sleeps %}
    <tr>
        <td rowspan="2">{{ sleep.date.date().isoformat() }}</td>
        <td>{{ sleep.format_sleep_time(timezone) }}</td>
        <td>{{ sleep.format_wake_time(timezone) }}</td>
        <td style="background-color: {{ stats_scale.get_colour_for_value(sleep.time_sleeping) }}">
            {{ sleep.time_sleeping }}
        </td>
        <td>{{ sleep.interruptions_text }}</td>
    </tr>
        <tr>
        <td colspan="4"><img src="data:image/png;base64,{{ sleep_images[sleep.date] }}" /></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
