<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sleep time</title>
    <link rel="stylesheet" type="text/css" href="/static/base_style.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChartHoursSlept);
      function drawChartHoursSlept() {
        // Create data
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Hours slept');
        data.addRows([
          {% for sleep in sleeps %}
            [{{ sleep.time_sleeping.total_seconds()/3600 }}],
          {% endfor %}
        ]);
        // Set up options
        var options = {'title':'Hours slept per night',
                       'width':400,
                       'height':300};
        // Draw chart
        var chart = new google.visualization.Histogram(document.getElementById('chart_hours_slept'));
        chart.draw(data, options);
      }
      function drawChartSleepTime() {
          var data = new google.visualization.DataTable();
          data.addColumn('timeofday', 'Sleep time');
          data.addRows([
              {% for sleep in sleeps %}
                [[{{ sleep.sleep_time.hour }}, {{ sleep.sleep_time.minute }}, {{ sleep.sleep_time.second }}]
              {% endfor %}
          ]);
        var options = {'title':'Time going to sleep',
                       'width':400,
                       'height':300};
        // Draw chart
        var chart = new google.visualization.Histogram(document.getElementById('chart_sleep_time'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
<h1>Sleep statistics</h1>
<h2>Overall stats</h2>
Sleep data entries: {{ sleeps|length }}<br />
Minimum: {{ stats['min'] }}<br />
Maximum: {{ stats['max'] }}<br />
Average: {{ stats['avg'] }}<br />
St dev: {{ stats['stdev']|round(3) }} days<br />
Total: {{ stats['total']|round(2) }} days<br />
<h2>Weekly stats</h2>
Night leading into:
<table>
    <tr>
        <th>Day</th>
        <th>Average sleep</th>
    </tr>
    {% for day in weekly_stats.values() %}
    <tr>
        <th>{{ day['name'] }}</th>
        <td style="background-color: {{ weekly_scale.get_colour_for_value(day['avg']) }}">
            {{ day['avg'] }}
        </td>
    </tr>
    {% endfor %}
</table>
<h2>Graphs</h2>
<div id="chart_hours_slept"></div>
<div id="chart_sleep_time"></div>
<h2>Total sleep records</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Sleep time</th>
        <th>Wake time</th>
        <th class="calculated">Time asleep</th>
        <th>Interruptions</th>
    </tr>
    {% for sleep in sleeps %}
    <tr>
        <td>{{ sleep.date.date().isoformat() }}</td>
        <td>{{ sleep.sleep_time }}</td>
        <td>{{ sleep.wake_time }}</td>
        <td style="background-color: {{ stats_scale.get_colour_for_value(sleep.time_sleeping) }}">
            {{ sleep.time_sleeping }}
        </td>
        <td>{{ sleep.interruptions }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
