<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total stats measured</title>
    <link rel="stylesheet" type="text/css" href="/static/base_style.css"/>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChartTotalStats);
        google.charts.setOnLoadCallback(drawChartTotalValues);
        google.charts.setOnLoadCallback(drawChartValuesByStat);
        google.charts.setOnLoadCallback(drawChartStatsByStat);
        google.charts.setOnLoadCallback(drawChartValuesBySource);
        google.charts.setOnLoadCallback(drawChartStatsBySource);

        function drawChartTotalStats() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Date", "Total stats"],
                    {% for date in date_totals.keys() %}
                        [new Date('{{ date.isoformat() }}'),
                            {{ date_totals[date]["stats"] }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "Stats recorded by day",
                height: 400
            };
            // Draw chart
            const chart = new google.visualization.ColumnChart(document.getElementById('chart_total_stats'));
            chart.draw(data, options);
        }

        function drawChartTotalValues() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Date", "Total values"],
                    {% for date in date_totals.keys() %}
                        [new Date('{{ date.isoformat() }}'),
                            {{ date_totals[date]["values"] }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "Values recorded per day",
                height: 400
            };
            // Draw chart
            const chart = new google.visualization.ColumnChart(document.getElementById('chart_total_values'));
            chart.draw(data, options);
        }

        function drawChartStatsByStat() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Stat name", "Total stats"],
                    {% for stat_name in stat_totals.keys() %}
                        ["{{ stat_name }}", {{ stat_totals[stat_name]["stats"] }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "Stats recorded by stat type",
                height: 400
            };
            // Draw chart
            const chart = new google.visualization.PieChart(document.getElementById('chart_stats_by_stat'));
            chart.draw(data, options);
        }

        function drawChartValuesByStat() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Stat name", "Total values"],
                    {% for stat_name in stat_totals.keys() %}
                        ["{{ stat_name }}", {{ stat_totals[stat_name]["values"] }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "Values recorded by stat type",
                height: 400
            };
            // Draw chart
            const chart = new google.visualization.PieChart(document.getElementById('chart_values_by_stat'));
            chart.draw(data, options);
        }

        function drawChartStatsBySource() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Source", "Total stats"],
                    {% for source in source_totals.keys() %}
                        ["{{ source }}", {{ source_totals[source]["stats"] }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "Stats recorded by source",
                height: 400
            };
            // Draw chart
            const chart = new google.visualization.PieChart(document.getElementById('chart_stats_by_source'));
            chart.draw(data, options);
        }

        function drawChartValuesBySource() {
            // Create data
            const data = new google.visualization.arrayToDataTable(
                [
                    ["Source", "Total values"],
                    {% for source in source_totals.keys() %}
                        ["{{ source }}", {{ source_totals[source]["values"] }}],
                    {% endfor %}
                ]
            );
            // Set up options
            const options = {
                title: "Values recorded by source",
                height: 400
            };
            // Draw chart
            const chart = new google.visualization.PieChart(document.getElementById('chart_values_by_source'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<h1>Total stats</h1>
<h2>Summary</h2>
Total stats: {{ total_stats }}<br/>
Total values: {{ total_values }}
<h2>Charts</h2>
<div id="chart_total_stats"></div>
<div id="chart_total_values"></div>
<div id="chart_stats_by_stat"></div>
<div id="chart_values_by_stat"></div>
<div id="chart_stats_by_source"></div>
<div id="chart_values_by_source"></div>
<h2>Total stats by stat type</h2>
<table>
    <tr>
        <th>Stat name</th>
        <th>Stats</th>
        <th>Values</th>
    </tr>
    {% for stat_name in stat_totals.keys() %}
        <tr>
            <td>{{ stat_name }}</td>
            <td>{{ stat_totals[stat_name]["stats"] }}</td>
            <td>{{ stat_totals[stat_name]["values"] }}</td>
        </tr>
    {% endfor %}
</table>
<h2>Total stats by source</h2>
<table>
    <tr>
        <th>Source</th>
        <th>Stats</th>
        <th>Values</th>
    </tr>
    {% for source in source_totals.keys() %}
        <tr>
            <td>{{ source }}</td>
            <td>{{ source_totals[source]["stats"] }}</td>
            <td>{{ source_totals[source]["values"] }}</td>
        </tr>
    {% endfor %}
</table>
<h2>Total stats by date</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Stats</th>
        <th>Values</th>
        {% for stat_name in stat_totals.keys() %}
            <th><abbr title="{{ stat_name }}">{{ stat_name[0].upper() }}</abbr></th>
        {% endfor %}
    </tr>
    {% for date in date_totals.keys() %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ date_totals[date]["stats"] }}</td>
            <td>{{ date_totals[date]["values"] }}</td>
            {% for stat_name in stat_totals.keys() %}
                {% if stat_name in date_totals[date]["values_by_stat"].keys() %}
                    <td>{{ date_totals[date]["values_by_stat"][stat_name] }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>